{% extends 'base.html' %}
{% comment %} block for title tag in the head {% endcomment %}
{% block title %}Home{% endblock  %}

{% comment %} main content {% endcomment %}
{% block content %}
<div class="px-4 py-4  text-left bg-secondary">
  <h1 class="display-7 fw-bold">Enter New Album Information:</h1> 
</div>
  <div class="container-sm col-6 mt-5">
    <form method="post">
      {% csrf_token %}


      <div class="mb-3 mt-5">
        <label class="form-label">Title:</label>
        <input type="text" class="form-control" name='title' autofocus>
      </div>
      <div class="mb-3">
        <label class="form-label">Artist:</label>
        <input type="text" class="form-control" name='artist'>
      </div>
      <div class="mb-3">
        <label class="form-label">Released Date:</label>
        <input type="date" class="form-control" name='release_date'>
      </div>
      <div class="mb-3">
        <label class="form-label">Cover Image:</label>
        <input type="url" class="form-control" name='cover_img'>
      </div>
      <div class="mb-3">
        <label class="form-label">Description:</label>
        <textarea type="text" class="form-control" name='description'></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>



{% endblock %}