{% extends 'base.html' %}
{% comment %} block for title tag in the head {% endcomment %}
{% block title %}Home{% endblock  %}

{% comment %} main content {% endcomment %}
{% block content %}

<div class="px-4 py-4  text-center bg-info">
  <h1 class="display-7 fw-bold">Favorite Albums</h1> 
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 mx-3 ">
{% for album in albums %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ album.cover_img }}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-title">Title: {{ album.title }}</p>
        <p class="card-title">Artist: {{ album.artist }}</p>        
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Learn More . . .
            </button>
          </h2>
          <div id="collapseOne" class="card-footer accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="card-title">Release Date: {{ album.release_date }}</p>
              <p class="card-title">Description: {{ album.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
    